{% extends 'base.html' %} {% block title %} Details {% endblock %} {% block
content %}
<h1>{{user.first_name}} {{user.last_name}}</h1>
{% if user.image_url %}
<img src="{{user.image_url}}" />
{% endif %}
<form>
  <button
    formaction="/user/{{ user.id }}/edit"
    formmethod="GET"
    class="btn btn-primary btn-sm"
  >
    Edit
  </button>
  <button
    formaction="/user/{{ user.id }}/delete"
    formmethod="POST"
    class="btn btn-danger btn-sm"
  >
    Delete
  </button>
  <a href="/user" class="btn btn-info btn-sm">Go Back to User Page</a>
</form>

<h2>Posts</h2>
<ul>
  {% for post in user.post %}
  <li>
    <a href="/post/{{post.id}}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<p>
  <a href="/user/{{ user.id }}/new_post" class="btn btn-success btn-sm"
    >Add Post</a
  >
</p>

{% endblock %}
