{% extends 'base.html' %} {% block content %}
<h1>Edit a tag</h1>
<form action="/tag/{{ tag.id }}/edit" method="POST">
  <input type="text" name="name" placeholder="Enter a name for the tag" />
  {% for post in post %}
  <input
    type="checkbox"
    name="post"
    value="{{ post.id }}"
    {%
    if
    post
    in
    tag.post
    %}
    checked
    {%
    endif
    %}
  />
  {{ post.title }} {% endfor %}
  <button>Save</button>
  <button><a href="/tag">Cancel</a></button>
</form>

{% endblock %}
