{% extends 'base.html' %} {% block title %}Create a Post{% endblock %} {% block
content %}
<h1>Create a Post for {{user.first_name}}</h1>
<form method="POST">
  <input type="text" name="title" placeholder="Enter a title" />
  <input type="text" name="content" placeholder="Enter your content" />

  <a href="/user/{{ user.id }}" class="btn btn-info btn-sm">Cancel</a>

  {% for tag in tag %}
  <input type="checkbox" name="tag" value="{{ tag.id }}" />{{ tag.name }} {%
  endfor %}
  <button class="btn btn-success btn-sm">Add</button>
</form>

{% endblock %}
